textarea {
    background: #eee;
    border: none;
    padding: 1em;
    box-sizing: border-box;
    font-family: SF Mono, Source Code Pro, Anonymous Pro, Inconsolata,
        Consolas, monospace;
    width: 100%;
}

#input-pane {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

#library-pane, #program-pane {
    width: 50%;
}

#library-pane, #program-pane, #compile-output-pane, #dot-pane {
    padding: 1em;
}

#result-pane {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

#compile-output-pane, #dot-pane {
    width: 50%;
}

#compile {
    float: right;
}
