textarea {
    background: #eee;
    border: none;
    padding: 1em;
    box-sizing: border-box;
    font-family: SF Mono, Source Code Pro, Anonymous Pro, Inconsolata,
        Consolas, monospace;
    width: 100%;
}

.column-1 {
    width: 100%;
    padding: 0 0.5em;
}

.column-2 {
    width: 50%;
    padding: 0 0.5em;
}

.row {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

#compile {
    float: right;
}

#output {
    white-space: pre-wrap;
    font-family: SF Mono, Source Code Pro, Anonymous Pro, Inconsolata,
                 Consolas, monospace;
}

.editor {
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    font-weight: 400;
    /* height: 500px; */
    letter-spacing: normal;
    line-height: 20px;
    padding: 10px;
    white-space: pre;
}

.token.diff-addition {
    background: hsla(120,100%,75%,0.3);;
}
.token.diff-deletion {
    background: hsla(0,100%,75%,0.3);;
}
