textarea {
    background: #eee;
    border: none;
    padding: 1em;
    box-sizing: border-box;
    font-family: SF Mono, Source Code Pro, Anonymous Pro, Inconsolata,
        Consolas, monospace;
    width: 100%;
}

.column-1 {
    width: 100%;
    padding: 0 0.5em;
}

.column-2 {
    width: 50%;
    padding: 0 0.5em;
}

.row {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

#compile {
    float: right;
}

#output {
    white-space: pre-wrap;
    font-family: SF Mono, Source Code Pro, Anonymous Pro, Inconsolata,
                 Consolas, monospace;
}
